@use "../abstract/" as *;

:root {
  $margin-xsmall: #{pxToRem(4)};
  $margin-small: #{pxToRem(8)};
  $margin-medium: #{pxToRem(16)};
  $margin-large: #{pxToRem(24)};

  --margin-xsmall: #{$margin-xsmall};
  --margin-small: #{$margin-small};
  --margin-medium: #{$margin-medium};
  --margin-large: #{$margin-large};
}
