.br-xs {
  border-radius: var(--border-radius-xsmall);
}
.br-s {
  border-radius: var(--border-radius-small);
}
.br-m {
  border-radius: var(--border-radius-medium);
}
.br-l {
  border-radius: var(--border-radius-large);
}
.br-c {
  border-radius: var(--border-radius-circular);
}
